.Resume {
	border: #000 1px solid;
	padding: 24px;
	width: 100%;
}
#step1_error {
	display: none;
}
#step2_error {
	display: none;
}
#step3_error {
	display: none;
}
#step4_error {
	display: none;
}
#step5_error {
	display: none;
}
#step6_error {
    display: none;
}
#step7_error {
    display: none;
}
#step8_error {
    display: none;
}
#step9_error {
    display: none;
}
#step10_error {
    display: none;
}

#step11_error {
    display: none;
}

#ResumeStep2 {
		display: none;
}
#ResumeStep3 {
		display: none;
}
#ResumeStep4 {
		display: none;
}

#ResumeStep5 {
		display: none;
}

#ResumeStep6 {
		display: none;
}

#ResumeStep7 {
		display: none;
}
#ResumeStep8 {
		display: none;
}
#ResumeStep9 {
		display: none;
}
#ResumeStep10 {
		display: none;
}

#ResumeStep11 {
		display: none;
}

#ResumeStep12 {
		display: none;
}
